<h3>{{'import.csv'|translate}}</h3>
<br/>
<input type="file" nv-file-select uploader="uploader" accept=".csv, .xls"/><br/>


<table class="table">
  <thead>
  <tr>
    <th width="50%">Name</th>
    <th ng-show="uploader.isHTML5">Size</th>
    <th ng-show="uploader.isHTML5">Progress</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in uploader.queue" class="ng-scope">

    <td><strong class="ng-binding">{{item.file.name}}</strong></td>
    <td ng-show="uploader.isHTML5" nowrap="" class="ng-binding">{{ item.file.size/1024/1024|number:2 }} MB</td>
    <td ng-show="uploader.isHTML5">
      <div class="progress" style="margin-bottom: 0;">
        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"
             style="width: 0%;"></div>
      </div>
    </td>
    <td nowrap="">
      <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
              ng-disabled="item.isReady || item.isUploading || item.isSuccess">
        <span class="glyphicon glyphicon-upload"></span> {{'import'|translate}}
      </button>
    </td>
  </tr>
  </tbody>
</table>