<h3>{{::userMethod}}</h3>
<form class="form-horizontal">
  <div class="form-group">
  	<label class="col-sm-2 control-label" for="nom">{{'user.name'|translate}} *</label>
  	<div class="col-sm-10">
  		<span ng-if="!updatable" class="form-control" name="nom">{{::utilisateur.nom}}</span>
			<input ng-if="updatable" class="form-control" required name="nom" ng-model="utilisateur.nom"  class="input-xlarge"/>
  	</div>
  </div>

  <div class="form-group">
  	<label class="col-sm-2 control-label" for="prenom">{{'user.firstname'|translate}} *</label>
  	<div class="col-sm-10">
  		<span ng-if="!updatable" class="form-control" name="prenom">{{::utilisateur.prenom}}</span>
			<input ng-if="updatable" class="form-control" required name="prenom" ng-model="utilisateur.prenom" class="input-xlarge"/>
  	</div>
  </div>

  <div class="form-group">
  	<label class="col-sm-2 control-label" for="mail">{{'user.mail'|translate}}</label>
  	<div class="col-sm-10">
  		<span ng-if="!updatable" class="form-control" name="mail">{{::utilisateur.mail}}</span>
  		<input ng-if="updatable" class="form-control" type="text" ng-model="utilisateur.mail"  name="mail" class="input-xlarge"/>
		</div>
  </div>

  <div class="form-group">
  	<label class="col-sm-2 col-sm-2 control-label" for="telephone">{{'user.telephone'|translate}}</label>
  	<div class="col-sm-10">
  		<span ng-if="!updatable" class="form-control" name="telephone">{{::utilisateur.telephone}}</span>
  		<input ng-if="updatable" class="form-control" type="text" ng-model="utilisateur.telephone"  name="telephone" class="input-xlarge"/>
		</div>
  </div>

  <div class="form-group">
  	<label class="col-sm-2 control-label" for="discr">{{'user.discr'|translate}} *</label>
  	<div class="col-sm-10">
  		<span ng-if="!updatable" class="form-control" name="discr">{{::utilisateur.discr}}</span>
  		<select ng-if="updatable" class="form-control" name="discr" ng-model="utilisateur.discr" ng-options="discr for discr in listDiscr">
      </select>
		</div>
  </div>


  <div class="form-group">
  	<label class="col-sm-2 control-label" for="formation">{{'user.formation'|translate}}</label>
  	<div class="col-sm-10">
  		<span ng-if="!updatable" class="form-control" name="formation">{{::utilisateur.formation}}</span>
  		<input ng-if="updatable" class="form-control" type="text" ng-model="utilisateur.formation"  name="formation" class="input-xlarge"/>
		</div>
  </div>


  <div class="form-group">
  	<label class="col-sm-2 control-label" for="annees_etudes">{{'user.etudes'|translate}}</label>
  	<div class="col-sm-10">
  		<span ng-if="!updatable" class="form-control" name="annees_etudes">{{::utilisateur.annees_etudes}}</span>
  		<input ng-if="updatable" class="form-control" type="number" ng-model="utilisateur.annees_etudes"  name="annees_etudes" class="input-xlarge"/>
		</div>
  </div>

  <div class="form-group">
  	<label class="col-sm-2 control-label" for="pretentions">{{'user.pretentions'|translate}}</label>
  	<div class="col-sm-10">
  		<span ng-if="!updatable" class="form-control" name="pretentions">{{::utilisateur.pretentions}}</span>
  		<input ng-if="updatable" class="form-control" type="number" ng-model="utilisateur.pretentions"  name="pretentions" class="input-xlarge"/>
		</div>
  </div>

  <div class="form-group">
  	<label class="col-sm-2 control-label" for="mobilite">{{'user.mobilite'|translate}}</label>
  	<div class="col-sm-10">
  		<span ng-if="!updatable" class="form-control" name="mobilite">{{::utilisateur.mobilite}}</span>
			<input ng-if="updatable" class="form-control" type="text" ng-model="utilisateur.mobilite"  name="mobilite" class="input-xlarge"/>
  	</div>
  </div>

  <div class="form-group">
  	<label class="col-sm-2 control-label" for="remarques">{{'user.remarques'|translate}}</label>
  	<div class="col-sm-10">
  		<textarea ng-if="!updatable" disabled="true" class="form-control" name="remarques">{{::utilisateur.remarques}}</textarea>
			<textarea ng-if="updatable" class="form-control"  name="remarques" ng-model="utilisateur.remarques" rows="5"></textarea>
  	</div>
  </div>


  <div class="form-group">
  	<label class="col-sm-2 control-label" for="decision">{{'user.decision'|translate}}</label>
  	<div class="col-sm-10">
      <input ng-if="!updatable" type="checkbox" disabled check="{{::utilisateur.decision}}" class="big-checkbox" name="decision">
      <input ng-if="updatable" type="checkbox" name="decision" class="big-checkbox" ng-model="utilisateur.decision">
    </div>
  </div>


  <div class="form-group">
  	<label class="col-sm-2 control-label" for="nom">{{'user.source'|translate}}</label>
  	<div class="col-sm-10">
  		<span ng-if="!updatable" class="form-control" name="mail">{{::utilisateur.source}}</span>
			<input ng-if="updatable" class="form-control" type="text" ng-model="utilisateur.source"  name="source" class="input-xlarge"/>
  	</div>
  </div>


  <div class="form-group">
  	<label class="col-sm-2 control-label" for="nom">{{'user.date_embauche'|translate}}</label>
  	<div class="col-sm-10">
  		<span ng-if="!updatable" class="form-control" name="mail">{{::utilisateur.date_embauche|date:'dd/MM/yyyy'}}</span>
      <input ui-date="dateOptions"  ng-if="updatable" class="form-control" ng-model="utilisateur.date_embauche"/>
  	</div>
  </div>


</form>
<div class="footer">
  <div ng-if="updatable">
    <a href="/utilisateur" role="button" class="btn btn-default">{{'cancel'|translate}}</a>
  	<button ng-click="submit()" type="submit" ng-if="!utilisateur.id" class="btn btn-primary"><i class="icon-white icon-plus"></i>{{'add'|translate}}</button>
  	<button ng-click="submit()" type="submit" ng-if="utilisateur.id" class="btn btn-primary"><i class="icon-white icon-plus"></i>{{'save'|translate}}</button>
  </div>
  <div ng-if="!updatable">
	   <a href="/utilisateur" role="button" class="btn btn-default">{{'close'|translate}}</a>
  </div>
</div>
