<h3>{{::userMethod}}</h3>
<br>
<section>
	<div class="col-sm-5 form-inline">
		<label for="search">{{'search'|translate}} : </label>
		<input type="text" ng-model="search" class="form-control" >
	</div>
	<div class="col-sm-3 col-sm-offset-4">
		<a href="utilisateur/add" role="button" class="btn btn-primary pull-right"><i class="icon-white icon-plus"></i>{{'add.user'|translate}}</a>
	</div>

</section>

<article class="table-users">
	<table ng-table="table-users" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>{{'user.name'|translate}}</th>
				<th>{{'user.firstname'|translate}}</th>
				<th>{{'user.mail'|translate}}</th>
				<th>{{'user.telephone'|translate}}</th>
	      <th>{{'user.status'|translate}}</th>
				<th>{{'actions'|translate}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="utilisateur in utilisateurs | filter:search | orderBy:'nom'">
				<td><span>{{::utilisateur.nom}}</span></td>
				<td><span>{{::utilisateur.prenom}}</span></td>
	      <td><span>{{::utilisateur.mail}}</span></td>
				<td><span>{{::utilisateur.telephone}}</span></td>
	      <td><span>{{::utilisateur.discr|uppercase}}</span></td>
				<td width="200">
					<a href="/utilisateur/{{utilisateur.id}}/view" class="btn btn-primary btn-xs btn-info" >{{'details'|translate}}</a>
					<a href="/utilisateur/{{utilisateur.id}}/edit" class="btn btn-primary btn-xs btn-warning" >{{'edit'|translate}}</a>
					<a href="/rappel/add/{{utilisateur.id}}/user" class="btn btn-primary btn-xs" >{{'reminder.add'|translate}}</a>
				</td>
			</tr>
		</tbody>
	</table>
</article>
