<div class="modal-fade">
	<div class="modal-header">
		<h3>Formulaire Utilisateur</h3>
	</div>
	<div class="modal-body">
		<!--<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>-->

		<div class="form-group">
			<label class="control-label" for="nom">{{'name'|translate}}</label>
			<div class="controls">
				<span ng-if="!updatable" name="nom">{{::utilisateur.nom}}</span>
				<div ng-if="updatable">
					<input class="form-control" name="nom" ng-model="utilisateur.nom"  class="input-xlarge"/>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="prenom">{{'firstname'|translate}}</label>
			<div class="controls">
				<span ng-if="!updatable" name="prenom">{{::utilisateur.prenom}}</span>
				<div ng-if="updatable">
					<input class="form-control" name="prenom" ng-model="utilisateur.prenom" class="input-xlarge"/>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label" for="nom">{{'mail'|translate}}</label>
			<div class="controls">
				<span ng-if="!updatable" name="mail">{{::utilisateur.mail}}</span>
				<div ng-if="updatable">
					<input class="form-control" type="text" ng-model="utilisateur.mail"  name="mail" class="input-xlarge"/>
				</div>
			</div>
		</div>


		</form>
	</div>
	<div class="modal-footer">
		<div ng-if="updatable">
			<button ng-click="add()" type="submit" ng-if="!utilisateur.id" ng-disabled="user.$invalid" class="btn btn-primary"><i class="icon-white icon-plus"></i>{{'add'|translate}}</button>
			<button ng-click="save()" ng-if="utilisateur.id" ng-disabled="utilisateur.$invalid " class="btn btn-primary"><i class="icon-white icon-plus"></i>{{'save'|translate}}</button>
			<button ng-click="cancel()" class="btn">{{'cancel'|translate}}</button>
		</div>
		<div ng-if="!updatable">
			<button ng-click="cancel()" class="btn">{{'close'|translate}}</button>
		</div>



	</div>
</div>
