/* Supraball League Stylesheet */

/* fonts */
@font-face{
    font-family: FrutigerLTStd-Roman;
    src : url("../fonts/FrutigerLTStd-Roman.woff");
}
@font-face{
    font-family: FrutigerLTStd-Bold;
    src : url("../fonts/FrutigerLTStd-Bold.woff");
}
/* end fonts */

body {
    font-family: FrutigerLTStd-Roman;
}

textarea {
    resize: none;
}

.footer{
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #767676;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.icons{
  height:50px;
}


/* Top menu style */
#navbar-main {
    background-color: #40516a;
    font-family: FrutigerLTStd-Bold;
    font-size: 1.5em;
}

.date-display{
  color: #fff;
  display:block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right:25px;
}

#navbar-main  > .navbar-nav > li > a {
  color: #fff;
}

#navbar-main  > .navbar-nav > li > a:hover {
    background-color: #5B6E89;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #fff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
#navbar-main  > .navbar-nav > .active > a {
    background-color: #768aa8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #ffff00;
}
#navbar-main  > .navbar-nav > .active > a:active {
    background-color: #768aa8;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #ffff00;
}
#navbar-main  > .navbar-nav > .active > a:hover {
    background-color: #889FC1;
    color: #ffff00;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.big-checkbox{
  width:35px;
  height:35px;
}

.table-users{
  margin-top:75px;
}

.pagination-container{
  width: 100%;
  text-align: center;
}
