<article class="table-reminders">
  <table ng-table="table-reminders" class="table table-striped table-bordered">
    <tbody>
    <tr ng-if="findAllPastReminders.length">
      <td colspan=7>
        <h3>Rappels en retard</h3>
      </td>
    </tr>
    <tr ng-if="findAllPastReminders.length">
      <th>{{'state'|translate}}</th>
      <th>{{'reminder.date'|translate}}</th>
      <th>{{'user.name'|translate}}</th>
      <th>{{'user.telephone'|translate}}</th>
      <th>{{'user.mail'|translate}}</th>
      <th>{{'comment'|translate}}</th>
      <th>{{'actions'|translate}}</th>
    </tr>
    <tr ng-repeat="reminder in findAllPastReminders | orderBy:'date_rappel'">
      <td style="background-color:red"></td>
      <td><span>{{::reminder.date_rappel | date : 'dd/MM/yyyy'}}</span></td>
      <td><span>{{::reminder.user.nom}} {{::reminder.user.prenom}}</span></td>
      <td><span>{{::reminder.user.telephone}} </span></td>
      <td><span>{{::reminder.user.mail}} </span></td>
      <td><span>{{::reminder.commentaire}}</span></td>
      <td width="200">
        <a href="#" ng-click="close(reminder.id)" class="btn btn-primary btn-xs">{{'close'|translate}}</a>
        <a href="/reminder/{{reminder.id}}/edit" class="btn btn-primary btn-xs">{{'edit'|translate}}</a>
      </td>
    </tr>
    <tr ng-if="allUpcomingReminders.length">
      <td colspan=7>
        <h3>Rappels à venir</h3>
      </td>
    </tr>
    <tr ng-if="allUpcomingReminders.length">
      <th>{{'state'|translate}}</th>
      <th>{{'reminder.date'|translate}}</th>
      <th>{{'user.name'|translate}}</th>
      <th>{{'user.telephone'|translate}}</th>
      <th>{{'user.mail'|translate}}</th>
      <th>{{'comment'|translate}}</th>
      <th>{{'actions'|translate}}</th>
    </tr>
    <tr ng-repeat="reminder in allUpcomingReminders | orderBy:'date_rappel'">
      <td style="background-color:orange"></td>
      <td><span>{{::reminder.date_rappel | date : 'dd/MM/yyyy'}}</span></td>
      <td><span>{{::reminder.user.nom}} {{::reminder.user.prenom}}</span></td>
      <td><span>{{::reminder.user.telephone}} </span></td>
      <td><span>{{::reminder.user.mail}} </span></td>
      <td><span>{{::reminder.commentaire}}</span></td>
      <td width="200">
        <a href="#" ng-click="close(reminder.id)" class="btn btn-primary btn-xs">{{'close'|translate}}</a>
        <a href="/reminder/{{reminder.id}}/edit" class="btn btn-primary btn-xs">{{'edit'|translate}}</a>
      </td>
    </tr>
    </tbody>
  </table>
</article>
