
<article class="table-rappels">
	<table ng-table="table-rappels" class="table table-striped table-bordered">
		<tbody>
      <tr ng-if="allPastRappels.length">
        <td colspan=7>
          <h3>Rappels en retard</h3>
        </td>
      </tr>
      <tr ng-if="allPastRappels.length">
        <th>{{'state'|translate}}</th>
        <th>{{'reminder.date'|translate}}</th>
				<th>{{'user.name'|translate}}</th>
        <th>{{'user.telephone'|translate}}</th>
        <th>{{'user.mail'|translate}}</th>
				<th>{{'comment'|translate}}</th>
        <th>{{'actions'|translate}}</th>
			</tr>
      <tr ng-repeat="rappel in allPastRappels">
				<td style="background-color:red"></td>
				<td><span>{{::rappel.date_rappel | date : 'dd/MM/yyyy'}}</span></td>
	      <td><span>{{::rappel.utilisateur.nom}} {{::rappel.utilisateur.prenom}}</span></td>
        <td><span>{{::rappel.utilisateur.telephone}} </span></td>
        <td><span>{{::rappel.utilisateur.mail}} </span></td>
	      <td><span>{{::rappel.commentaire}}</span></td>
				<td width="200">
					<a href="#" class="btn btn-primary btn-xs" >{{'close'|translate}}</a>
					<a href="/rappel/{{rappel.id}}/edit" class="btn btn-primary btn-xs" >{{'edit'|translate}}</a>
				</td>
			</tr>
      <tr ng-if="allUpcomingRappels">
        <td colspan=7>
          <h3>Rappels à venir</h3>
        </td>
      </tr>
      <tr>
        <th>{{'state'|translate}}</th>
        <th>{{'reminder.date'|translate}}</th>
				<th>{{'user.name'|translate}}</th>
        <th>{{'user.telephone'|translate}}</th>
        <th>{{'user.mail'|translate}}</th>
				<th>{{'comment'|translate}}</th>
        <th>{{'actions'|translate}}</th>
			</tr>
			<tr ng-repeat="rappel in allUpcomingRappels">
				<td style="background-color:orange"></td>
				<td><span>{{::rappel.date_rappel | date : 'dd/MM/yyyy'}}</span></td>
        <td><span>{{::rappel.utilisateur.nom}} {{::rappel.utilisateur.prenom}}</span></td>
        <td><span>{{::rappel.utilisateur.telephone}} </span></td>
        <td><span>{{::rappel.utilisateur.mail}} </span></td>
	      <td><span>{{::rappel.commentaire}}</span></td>
				<td width="200">
					<a href="#" class="btn btn-primary btn-xs" >{{'close'|translate}}</a>
					<a href="/rappel/{{rappel.id}}/edit" class="btn btn-primary btn-xs" >{{'edit'|translate}}</a>
				</td>
			</tr>
		</tbody>
	</table>
</article>
